<a href="https://colab.research.google.com/github/ahmadfariz23/loan-prediction/blob/main/Data_Analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set(style='darkgrid')

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/ahmadfariz23/loan-prediction/main/data_menu_eksplorasi/eksplorasi_data.csv')

In [10]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,147.723039,360.0,1.0,Urban,Y
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,LP002142,Female,Yes,0,Graduate,Yes,5500,0.0,105.000000,360.0,0.0,Rural,N
840,LP001754,Male,Yes,0,Not Graduate,Yes,4735,0.0,138.000000,360.0,1.0,Urban,N
841,LP001883,Female,No,0,Graduate,No,3418,0.0,135.000000,360.0,1.0,Rural,N
842,LP001994,Female,No,0,Graduate,No,2400,1863.0,104.000000,360.0,0.0,Urban,N
843,LP001565,Male,Yes,1,Graduate,No,3089,1280.0,121.000000,360.0,0.0,Semiurban,N

In [13]:
count_class_Y, count_class_N = df.Loan_Status.value_counts()

In [14]:
df['Loan_Status'].value_counts()

Y    422
N    422
Name: Loan_Status, dtype: int64

In [15]:
count_class_Y

422

In [16]:
count_class_N

422